@use "../globalStyles.module.scss" as *;


.header {
    background-color: $base-color-03;
    margin-bottom: 69px;
    max-height: 97px;
    
    .header_content {
        display: flex;
        justify-content: space-between;       

        .logo {
            .logo_pc{
                position: relative;
                z-index: 1;
            }
            .logo_mobile{
                height: 93px;
                width: 111px;
                transform: translate(-10px, 0px);
            }

        }

        .navigation {

            display: flex;
            align-items: center;
            transform: translate(80%, 0px);
            &:has(+.ui_menu){
                transform: translate(0%, 0px);
            }

            a {
                color: $base-color-02;     
                text-decoration: none;

                &:not(:last-child) {
                    margin-right: 49px;   
                }
                &:not(:first-child):hover{
                    cursor:default;
                }

            }
        }

        .log_in {
            display: flex;
            align-items: center;
            
            .log_in_auth {
                cursor: default;
                opacity: 0.4;
                text-decoration: none;
                padding-right: 18px;
                border-right: solid 2px rgba($base-color-01, 0.6);
                margin-right: 20px;
                
            }

            .log_in_button {
                border: none;
                border-radius: 5px;
                background-color: #7CE3E1;
                padding: 4px 11px;
                &:hover {
                    cursor: pointer;
                    border: solid 1px #519695;
                }
                
            }
        }

        .ui_menu {
            display: flex;
            position: relative;

            .searchlimit {
                font-size: 10px;
                font-weight: normal;
                line-height: 14.1px;
                position: relative;
                background-color: rgba(#D9D9D9, 0.3);
                border-radius: 5px;
                margin: 15px 0px;
                top: 0;
                transform: translate(-128px, 0px);
                height: 63px;
                width: 175px;

                p {
                    text-align: right;
                    margin: 10px;
                    opacity: 0.4;
                    
                    .searchlimit_green{
                        color: $additional-color-01;
                    }
                    span{
                        font-size: 14px;
                        line-height: 16.94px;
                        margin-left: 7px;
                        margin-right: 10px;
                    }
                }
                

                img {
                    position: absolute;
                    top: 30%;
                    left: 44%;
                }
                .logo_spin{

                    @media (prefers-reduced-motion: no-preference) {
                        & {
                          animation: logo_spin infinite 3s linear;
                        }
                      }
                      
                      @keyframes logo_spin {
                        from {
                          transform: rotate(0deg);
                        }
                        to {
                          transform: rotate(360deg);
                        }
                      }
                }
            }
            .user_menu_burger{
                display: none;
            }

            .user_menu {
                display: flex;
                align-items: center;

                .user_menu_logout_mobile{
                    display: none;
                }

                .user_info {
                    margin-right: 4px;
                    text-align: right;
    
                    button {
                        border: none;
                        background-color: transparent;
                        opacity: 0.4;
                        font-size: 10px;
                        line-height: 12px;

                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                            border-radius: 4px;
                            border: solid 1px #274747;
                        }

                    }
                }

                .user_logo {

                    img {
                        border-radius: 16px;
                    }
                }
            }
        }
    }
}

// =============== Мобильный адаптив ========================

@media screen and (max-width: 376px){

    .header{
        height: 93px;
        margin-bottom: 20px !important; 

        .header_content{
            height: 100%;
            justify-content:space-between !important;
        }
        .logo {
            .logo_pc{
                transform: translate(0px, 10px);
            }
            .logo_mobile{
                position: relative;
                z-index: 10 !important;
            }
            img{
                max-height: 93px;
                max-width: 111px;
                transition: all 1.0s ease 0s;  
            }   
        }
        .navigation{
            transform: translate(0px, 0px) !important;
            position: absolute;
            flex-direction: column;
            top: 138px;
            left: -100%;
            width: 100%;
            z-index: 10;
            transition: left 0.4s ease 0s;
            a{
                margin-right: 0px !important; 
                color: $base-color-03 !important;
                &:not(:last-child){
                    margin-bottom: 26px !important; 
                }
                &:first-child:hover{
                    text-decoration: underline !important;
                }
            }
        }
        .log_in{
            position: absolute;
            flex-direction: column;
            top: 322px;
            left: -100%;
            width: 100%;
            z-index: 10;
            transition: left 0.4s ease 0s;

            .log_in_auth{
                margin-right: 0px !important;
                padding-right: 0px !important;
                border: none;
                margin-bottom: 20px;
                text-align: center;
            }
            .log_in_button{
                position: absolute;
                margin: 0px 40px;
                left: 1%;
                padding: 15px 124px !important;
                z-index: 10;
                background-color: $additional-color-02 !important;
                &:hover {
                    border: solid 2px #1e3d3d !important;
                }
            }
        }
        .ui_menu{
            
            .searchlimit{
                margin-right: 35px !important;
                transform: none !important;
                height: 65px !important;
                width: 135px !important;

                p{
                    font-size: 8px ;
                    line-height: 9.6px ;
                    text-align: left !important;
                    margin: 5px 5px 5px 8px !important;
                    padding-left: 5px;
                    
                    span{
                        margin-left: 0px !important;
                    }   
                }

            }

        }
        .user_menu_burger{
            display: block !important;
            position: relative;
            width: 30px !important;
            height: 25px !important;
            cursor: pointer;
            top: 36px;
            margin-right: 11px;
            z-index: 10;

            & span,
            &::before,
            &::after
            {
                left: 0;
                position: absolute;
                height: 20%;
                width: 100%;
                transition: all 0.6s ease 0s;
                background-color: $base-color-01;
            }

            &::before,
            &::after {
                content: "";
            }

            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
            }
            & span{
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
        }
        .user_menu_burger_active{
            & span{ 
                transform: scale(0) translate(0,-50%);
            }
            &::before{
                top: 50%;
                transform: rotate(-46deg) translate(0px,-45%);

            }
            &::after{
                top: 39%;
                transform: rotate(46deg) translate(0px, 50%);     
            }
            &::before , &::after {
                background-color: $base-color-03 !important;
            }
            
        }
        .user_menu_background{
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: $base-color-01;
            z-index: 5;
            transition: all 0.4s ease 0s;
       
        }
        
        .user_menu{
            display: flex !important;
            position: absolute;
            left: 0;
            flex-direction: column;
            top: 322px;
            z-index: 10;
            transform: scale(1) translate(-30em, 0%);
            transition: all 0.4s ease 0s;
            
            .user_menu_logout_mobile{
                display: block !important;
                border: none;
                border-radius: 5px;
                position: absolute;
                padding: 15px 117px !important;
                z-index: 10;
                background-color: $additional-color-02;
                &:hover {
                    border-radius: 4px;
                    border: solid 2px #04425a;
                }

            }

            .user_info, .user_logo{
                display: none;
            }
            
        }
    
    }

}


