@use '/src/styles/globalStyles.module.scss' as *;

.button_next+span{
    top: 77.5em;
    right: 15%;
    z-index: 1;
    &::after{
        font-size: 39px;
        font-weight: 900;
    }
}
.button_prev+span{
    top: 77.5em;
    left: 15%;
    z-index: 1;
    &::after{
        font-size: 39px;
        font-weight: 900;
    }
}

.container {
    position: static;
    margin-left: 15px;
    margin-right: 15px;

    .swiper_wrapper {
        margin: 15px 0px;
        display: grid;
        grid-template-rows: repeat(1, minmax(113px, 225px));
        column-gap: 20px;

        .item {
            max-width: 400px;
            padding: 30px 26px 20px 20px;
            margin: 0px 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 20px 0px #00000033;

            .item_logo {
                margin-bottom: 20px;
            }

            .item_text {
                p {
                    word-wrap: break-word;
                    font-size: 18px;
                    line-height: 21.78px;
                }
            }
        }
    }
}

@media (max-width: 375px) {

    .container {
        margin: 0;
        
        .swiper_wrapper {
            margin: 0px;

            .item {
                max-width: 298px;
                max-height: 190px;
                margin: 15px 15px 0px 24px;
                padding: 20px 15px 10px 15px;

                .item_logo {
                    margin-bottom: 0px;

                    img{
                        max-width: 56px;
                    }
                }
                .item_text {
                    p {
                       
                        font-size: 17px;
                        line-height: 19.78px;
                    }
                }
            }
        }
    }

    .button_next+span{
        opacity: 0.2;
        top: 75em;
        right: 2%;
        &::after{
            font-size: 35px;
        }
    }
    .button_prev+span{
        opacity: 0.2;
        top: 75em;
        left: 2%;
        &::after{
            font-size: 35px;
        }
    }

}
