@use '/src/styles/globalStyles.module.scss' as *;


.mySwiper {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    
    :global(.swiper-button-next),
    :global(.swiper-button-prev){
        color: rgb(199, 189, 189);
        width: 38px;
        height: 38px;
    }
    :global(.swiper-button-prev){
        left: -10px;
    }
    :global(.swiper-button-next){
        right: -10px;
    }
    :global(.swiper-button-prev)::after,
    :global(.swiper-button-next)::after {
        font-size: 28px;
        font-weight: 900;
    }

    .swiper_wrapper {
        margin: 15px 0px;
        display: grid;
        grid-template-rows: repeat(1, minmax(113px, 225px));
        column-gap: 15px;

        .item {
            max-width: 400px;
            padding: 30px 26px 20px 20px;
            margin: 0px 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 20px 0px #00000033;

            .item_logo {
                margin-bottom: 20px;
            }

            .item_text {
                p {
                    word-wrap: break-word;
                    font-size: 18px;
                    line-height: 21.78px;
                }
            }
        }
    }
}

@media (max-width: 375px) {

    .mySwiper {
        margin: 0;  
        
        .swiper_wrapper {
            margin: 0px;

            .item {
                max-width: 295px;
                max-height: 200px;
                margin: 15px 15px 15px 24px;
                padding: 20px 15px 10px 15px;

                .item_logo {
                    margin-bottom: 0px;

                    img{
                        max-width: 56px;
                    }
                }
                .item_text {
                    p {
                       
                        font-size: 17px;
                        line-height: 19.78px;
                    }
                }
            }
        }
    }

}
