@use '/src/styles/globalStyles.module.scss'as *;

.MySliderWrapper {
    position: relative;
    overflow: hidden;

    .MySlider {
        position: relative;

        :global(.swiper-button-next),
        :global(.swiper-button-prev) {
            color: rgb(199, 189, 189);
            width: 38px;
            height: 38px;
        }

        :global(.swiper-button-prev) {
            left: -10px;
        }

        :global(.swiper-button-next) {
            right: -10px;
        }

        :global(.swiper-button-prev)::after,
        :global(.swiper-button-next)::after {
            font-size: 28px;
            font-weight: 900;
        }

        .swiper_slide {
            .generalSummory_table_content {
                padding: 2px 18px;
                margin: 18px 0px;
                border-right: 2px solid rgba($color: $base-color-01, $alpha: 0.4);

                p {
                    font-size: 18px;
                    line-height: 21.7px;

                    &:not(:last-child) {
                        margin-bottom: 26px;
                    }

                    text-align: center;
                }
            }
        }
    }
}


//=================== Мобильная верстка 375px ==========================

@media (max-width: 375px) {

    .MySliderWrapper {
        height: 80px;

        .MySlider {
            position: static;
            height: 100%;

            :global(.swiper-button-prev),
            :global(.swiper-button-next) {
                top: 3.5rem;
            }
        }

        .generalSummory_table_content {
            display: flex;
            justify-content: space-between;
            padding: 0px 5px 0px 23px !important;
            margin: 33px 0px 0px 0px !important;
            border-right: none !important;

            p {
                margin-bottom: 0px !important;
                font-size: 18px;
                line-height: 21.7px;

                &:nth-child(1n+2) {
                    transform: translate(-25px, 0px);
                }
            }
        }
    }
}