@use "../globalStyles.module.scss" as *;

//=================== Первая часть ==========================
.searchservice{
    display: flex;
    margin:  0px 0px 80px 0px;
    .searchservice_info{
        padding: 0px;
        h1{
            margin-bottom: 21px;
            font-family: Ferry;
            font-size: 60px;
            line-height: 72px;
            text-transform: uppercase;
        }
        p{
            margin-bottom: 70px;
            font-size: 20px;
            line-height: 24.2px;
            max-width: 530px;
        }
        .request_button{
            padding: 16px 63px;
            background-color: $additional-color-03;
            color: $base-color-03;
            border: none;
            border-radius: 5px;
            font-size: 22px;
            line-height: 26.6px;
            &:hover {
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.6);
            }
        }
        
    }
    .searchservice_image{
        padding: 0px;
        img{
            max-width: 590px;
            position: relative;
            top: -55px;
        }
    }
}

//=================== Вторая часть ==========================
.why_we {
    margin-bottom: 70px;

    h2 {
        font-family: Ferry;
        margin-bottom: 70px;
        font-size: 45px;
        line-height: 54px;
        text-transform: uppercase;
    }
}

//=================== Третья часть ==========================
.secondimage{
    margin-bottom: 107px;
    img{
        position: relative;
    }
}


//=================== Четвертая часть ==========================
.tarifs{
    

    h2{
        font-family: Ferry;
        margin-bottom: 70px;
        font-size: 45px;
        line-height: 54px;
        text-transform: uppercase;
    }
    .tarifs_cards{
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 415px));
        column-gap: 37px;

        .tarifs_item_yellow{
            border: solid 2px $additional-color-01;
        }
        .tarifs_item{
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
            border-radius: 14px;
    
            .tarifs_header{
                background-color: $additional-color-01;
                display: grid;
                grid-template-columns: 2.5fr 0.8fr;
                grid-template-rows: repeat(1,minmax(auto, 132px )), ;
                border-radius: 10px 10px 0px 0px;
                padding-left: 30px;

                .header_text{
                    display: flex;
                    flex-direction: column;
                    justify-content:center;
                    padding: 30px 0px 34px 0px;

                    h3{
                        margin-bottom: 10px;
                        font-size: 30px;
                        line-height: 36.3px;
                    }

                    p{
                        font-size: 18px;
                        line-height: 21.7px;
                    }
                    
                }   
                .header_img{
                    padding: 11px 11px 0px 0px;
                    img{
                        max-width: 96px;
                        max-height: 103px;
                        
                    }
                }

            }
            .tarifs_header_grey{
                background-color: #7CE3E1;
            }
            .tarifs_header__black{
                background-color: $base-color-02;
                color: $base-color-03;
            }

            .tarifs_info{
                padding-left: 30px;
                &:not(:has(.tarifs_current)) {
                    margin-top: 40px;
                }
                .tarifs_current{
                    display: flex;
                    justify-content: right;
                    margin-top: 10px;
                    margin-bottom: 7px;
                    margin-right: 10px;

                    p{
                        color: $base-color-03;
                        border-radius: 10px;
                        background-color: #3BA5E0;
                        padding: 3px 13px;
                    }
                }
                .tarifs_price{
                    margin-bottom: 63px;

                    h3{
                        margin-bottom: 10px;
                        font-size: 30px;
                        line-height: 36px;
                        span{
                            margin-left: 19px;
                            text-decoration:line-through;
                            opacity: 0.5;
                            font-size: 25px;
                            line-height: 30px;
                        } 
                    }
                    p{
                        font-size: 18px;
                        line-height: 21.7px;
                    }

                }
                .tarifs_price__margin{
                    margin-top: 40px;
                    h3:last-child{
                        margin-bottom: 89px;
                    }  
                }
            }
            .tarifs_conditions{
                margin-bottom: 55px;
                vertical-align: bottom;

                li{
                    list-style: none;
                    position: relative;
                    font-size: 18px;
                    line-height: 21.7px;
                    &:not(:first-of-type){
                      padding-left: 22px;  
                    }
                    
                    &:not(:first-of-type):before{
                        content: '';
                        background-image: url(../../../public/assets/icons/check-mark.png);
                        position: absolute;
                        width: 16px; height: 16px;
                        background-size: 16px 16px;
                        left: 0px; top: 0px;
                    }
                    &:first-child{
                        list-style: none;
                        margin-bottom: 15px;
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 500;
                    }
                    &:not(:last-child){
                        &:not(:first-child){
                            margin-bottom: 5px;
                        }
                        
                    }

                }
            }
            .tarifs_button{
                margin-right: 30px;
                margin-bottom: 24px;

                button{
                    font-size: 20px;
                    line-height: 24px;
                    padding: 17px 45px;
                    border-radius: 5px;
                    border: none;
                    background-color: #D2D2D2;
                    width: 100%;
                } 
            }
            .tarifs_button__blue{
                button{
                    background-color: $additional-color-03;
                    color: $base-color-03;
                }
            }
        }
    }
}

//=================== Мобильная верстка 375px ==========================

@media (max-width: 375px) {
    
    .searchservice{
        flex-direction: column;
        margin: 0px 0px 55px 0px;
        
        .searchservice_info{
            margin-bottom: 39px;
            padding: 0px;
            h1{
                font-size: 28px;
                line-height: 33px;
            }
            p{
                margin-bottom: 32px !important;
                font-size: 18px;
                line-height: 21px;
            }
            .request_button{
                font-size: 20px;
                line-height: 24px;
                width: 100%;
            }
            
        }
        .searchservice_image{
            padding: 0px;
            // max-height: 330px;
            img{
                max-height: 330px;
                max-width: 345px;
                top: -25px;
            }
        }
    }
    
    //=================== Вторая часть ==========================
    .why_we {
            margin-bottom: 80px;

        h2 {
            max-width: 275px;
            margin-bottom: 32px;
            font-size: 28px;
            line-height: 33px;
        }
    }
    //=================== Третья часть ==========================
    .secondimage{
       margin-bottom: 80px;
        img{
           max-width: 780px;
        }
    }
    
    
    //=================== Четвертая часть ==========================
    .tarifs{
        
        h2{
            margin-bottom: 37px;
            font-size: 28px;
            line-height: 33px;
        }
        .tarifs_cards{
            grid-template-columns: repeat(1, minmax(auto, 345px));
            row-gap: 43px;
    
            .tarifs_item{
                .tarifs_header{
                    grid-template-columns: 1fr 60px;
                    padding-left: 20px;
                    padding-right: 10px;
                    .header_text{
    
                        h3{
                            margin-bottom: 23px;
                        }
    
                        p{
                            font-size: 16px;
                            line-height: 21.7px;
                        }
                        
                    }
                    .header_img{
                        padding: 10px 0px 0px 0px;
                        max-height: 70px;
                        img{
                            max-width: 60px;
                            max-height: 70px;
                            
                        }
                    }
                }

                
                .tarifs_info{
                    .tarifs_current{
                        p{
                            display: none;
                        }
                    }
                    .tarifs_price{
                        margin-bottom: 36px;   
                    }
                    .tarifs_price__margin{
                        h3:last-child{
                            margin-bottom: 0px;
                        }  
                    }
                }
                .tarifs_conditions{
                    margin-bottom: 33px;

                    li{
                        font-size: 16px;
                        line-height: 19.3px;
                        &:first-child{
                            font-size: 18px;
                            line-height: 21.78px;
                        }
                    }
                }
                .tarifs_button{
                    margin-bottom: 30px;

                    button{
                        padding: 17px 25px;
                        font-size: 18px;
                        line-height: 21.78px;
                    }
                }
                
            }
        }
    }   
}