@use "../globalStyles.module.scss" as *;
$checkOpacity: 0.4;

.container {

    .title {
        margin-bottom: 47px;
        position: relative;

        h1 {
            font-family: Ferry, serif;
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 25px;
            
        }

        p {
            font-size: 20px;
            line-height: 24px;
        }

        .doc_img {
            position: absolute;
            right: 351px;
            // top: 53px;
            top: 3px;
        }

        .folder_img {
            position: absolute;
            // top: 76px;
            top: 6px;
            right: 44px;

        }

    }

    .content {
        display: flex;
        column-gap: 80px;

        .form {
            // display: flex;
            display: grid;
            grid-template-columns: repeat(2, minmax(395.5px, 789px));
            padding-left: 44px;
            padding-right: 39px;
            padding-top: 21px;
            column-gap: 17px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            justify-content: space-between;

            .form_leftside {
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 20px;
                    font-size: 18px;
                    line-height: 21.7px;

                }

                &>input,
                select {
                    max-width: 242px;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    padding-left: 17px;
                    border: 1px solid rgba(199, 199, 199, 1);
                    border-radius: 5px;
                    font-size: inherit;
                    line-height: inherit;

                    &:not(:last-child :not(+span)) {
                        margin-bottom: 30px;
                    }
                }

                input:has(+span) {
                    border: 1px solid red;
                    margin-bottom: 3px;
                }

                span {
                    margin-left: 15px;
                    margin-bottom: 27px;
                }

                .form_dateInterval {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-template-rows: repeat(2, auto);
                    column-gap: 20px;
                    row-gap: 7px;

                    .form_startDate {
                        grid-row: 1/2;
                        grid-column: 1/2;
                    }

                    .form_endDate {
                        grid-row: 1/2;
                        grid-column: 2/3;
                    }

                    .form_startDate_error {
                        grid-row: 2/3;
                        grid-column: 1/2;
                    }

                    .form_endDate_error {
                        grid-row: 2/3;
                        grid-column: 2/3;
                    }

                    &>input {
                        padding-top: 13px;
                        padding-bottom: 13px;
                        padding-left: 17px;
                        border: 1px solid rgba(199, 199, 199, 1);
                        border-radius: 5px;
                        padding-right: 10px;

                        &:has(+span) {
                            border: 1px solid red;
                        }
                    }

                    span {
                        text-align: center;
                    }
                }
            }

            .form_rightside {
                display: flex;
                flex-direction: column;
                margin-bottom: 32px;

                .check {
                    position: relative;
                    vertical-align: middle;
                    padding-left: 37px;
                    font-size: 18px;
                    line-height: 21.7px;

                    &:not(.check_input:checked+span) {
                        opacity: 0.4;
                    }

                    &:has(.check_input:checked+span) {
                        opacity: 1;
                    }

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    .check_input {
                        appearance: none;

                        &:checked+span {
                            background-image: url("../../../public/assets/icons/check-mark-checkbox.svg");
                            background-position: center;
                        }
                    }

                    .check_box {
                        position: absolute;
                        left: 0;
                        // margin-left: -37px;
                        width: 20px;
                        height: 20px;
                        border: 1px solid rgba(0, 0, 0, 1);
                    }

                }

            }

            .form_button {
                display: grid;
                justify-content: right;

                button {
                    padding: 16px 117px;
                    margin-top: 141px;
                    margin-bottom: 10px;
                    border: none;
                    border-radius: 5px;
                    color: $base-color-03;
                    background-color: $additional-color-03;
                    font-size: 22px;
                    line-height: 26.6px;
                    &:hover{
                        cursor: pointer;
                        border: 1px solid rgba(0, 0, 0, 0.6);
                    }
                }

                p {
                    margin-right: 46px;
                    color: rgba(148, 148, 148, 1);
                }
            }

        }
    }

    .content_image {


        img {
            display: block;

        }
    }

}





//=================== Мобильная верстка 375px ==========================


@media (max-width: 375px) {
    .container {

        .title {
            margin-bottom: 47px;
            position: relative;

            h1 {
                margin-bottom: 25px;
                max-width: 285px;
                font-size: 28px;
                line-height: 33.6px;
            }

            p {
                max-width: 280px;
                font-size: 18px;
                line-height: 21.7px;
            }

            .doc_img {
                right: 11px;
                // top: 53px;
                top: 97px;
                max-width: 71px;
                max-height: 58px;
            }

            .folder_img {
                display: none;

            }

        }

        .content {
            flex-direction: column;
            margin-left: -15px;
            margin-right: -15px;

            .form {
                // display: flex;
                display: grid;
                grid-template-columns: repeat(1, minmax(auto, 375px));
                padding-left: 15px;
                padding-right: 26px;
                margin-bottom: 40px;

                .form_leftside {
                    max-width: 345px;

                    &>input,
                    select {
                        max-width: 345px;
                    }

                    .form_dateInterval {
                        display: grid;
                        grid-template-columns: auto;
                        column-gap: 20px; 
    
                        .form_startDate {
                            grid-row: 1;
                            grid-column: 1;
                            margin-bottom: 20px;
                            &:has(+span){
                                margin-bottom: 0px;
                            }
                        }
    
                        .form_endDate {
                            grid-row: 3;
                            grid-column: 1;
                        }
    
                        .form_startDate_error {
                            grid-row: 2;
                            grid-column: 1;
                        }
    
                        .form_endDate_error {
                            grid-row: 4;
                            grid-column: 1;
                            margin-bottom: 0px;
                        }
    
                        &>input {
                            padding-top: 13px;
                            padding-bottom: 13px;
                            padding-left: 17px;
                            border: 1px solid rgba(199, 199, 199, 1);
                            border-radius: 5px;
                            padding-right: 10px;
    
                            &:has(+span) {
                                border: 1px solid red;
                            }
                        }
    
                        span {
                            text-align: center;
                        }
                    }

                }

                .form_rightside {
                    max-width: 345px;
                    margin-top: 42px;

                    label{
                        display: none;
                    }
                }

                .form_button {
                    display: grid;
                    justify-content: right;
                    grid-template-columns: 1fr;

                    button {
                        width: 100%;
                        margin-top: 41px;
                    }

                }

            }
        }

        .content_image {
            margin-left: 15px;
            
            img {
                display: block;
                max-width: 375px;
            }
        }

    }

}